@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #fdfffc;
    --secondary-color: #f1d302;
    --accent-color : #4A6583;
    --bg-color: #222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: var(--accent-color);
}
.container {
    position: relative;
    background:var(--bg-color);
    border-radius: 40px;
    width: 82%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 45px 45px 0px 45px;

}
.nav-bar{
    position: relative;
    width: 100%;
}
.side-logo {
    position: absolute;
    width: 200px;
    left: 10px;;
}
.logo {
    display: flex;
}
.logo > div{
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    border-radius: 50%;
    padding: 23px;
    
}
.logo > div > p {
    position: absolute;
    color: var(--bg-color);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
    left: 50%;
    top: 50%;
    padding: 15px;
    transform: translate(-50%,-50%);
}

.logo > div + p {
    font-family: poppins;
    position: absolute;
    color: var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
    font-size: 18px;
}

.logo > div + p::before {
    content: "</ ";
 }
 
.logo > div + p::after {
    content: "> ";

}
.nav-contents {
    position: absolute;
    right: 0;
    top: 10px;
    width: 450px;
}
.nav-contents ul {
    display: flex;
    font-size: 14px;
    color: #aaa;
    justify-content: space-evenly;
    align-self: flex-end;
    list-style-type: none;
}
#side-toggle {
    display: none;
}
#side-toggle:checked ~ .side-bar {
    right: 0px;
    transition: 1s ease;
    z-index: 2;
}
#side-toggle:checked ~ .toggle {
    z-index: 100;
}

#side-toggle:not(:checked) ~ .side-bar {
    right: -500px;
    transition: 1s ease;
}
.toggle {
    position: absolute;
    right: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0,0.25);
    width: 50px;
    height: 50px;
}
.toggle label i {
    font-size: 32px;
    color: #f1d302;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.side-bar {
    position: absolute;
    height: 100vh;
    right: 0;
    right: -500px;
    top: -10px;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    width: 60%;
}
.side-bar ul {
    left: 0;
    margin-left: 0;
    padding-left: 10;
    margin-top: 80px;
    list-style-type: none;
}
.side-bar ul i {
    font-size: 20px;
}
.side-bar ul a li {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 75%;
   
}
.side-bar ul li {
    padding: 5px 0px;
    margin: 10px 10px 10px -10px;
    list-style-type: none;
}
.side-bar ul a li {
    font-size: 20px;
    font-weight: bolder;
}
.side-bar ul a {
    color: #fdfffc;
}
.side-bar ul li:active {
    color: #f1d302;
    transition: 0.15s ease ;
}
.bold {
    font-weight: 500;
    color: whitesmoke;
}
a {
    text-decoration: none;
    color: #aaa;
    outline: none;
    transition: all 0.2s ease-in;
}
a:hover{
    font-weight: 500;
    color: whitesmoke;
}
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px;
}
.image-bg {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background: #444444;
    margin-left: 10em;
    box-shadow: 3px 2px 14px 3px rgba(0,0,0,0.75);
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 18em;
    height: 18em;;
    border-radius: 50%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    color: white;
    width: 600px;
    padding-top: 20px;

}
.content p {
    font-size: 16px;
    color: #aaa;
    color: var(--secondary-color);
}

.content h2 {
    font-size: 48px;
    padding: 10px 0px;
    font-weight: 900;
}
.content .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-left: 5px;
    padding: 10px 0px;
}
.content .icons i {
    font-size: 18px;
    margin-right: 15px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.content .icons i:hover {
    color: var(--secondary-color);
}
.content .intro {
    margin-top: 10px;
    font-size: 16px;
    width: 85%;
    color: #ddd;
    line-height: 25px;
}

.content .intro span {
    font-size: 16px;
    border-radius: 2px;
    border-bottom: 3px solid #444;
    transition: all 0.3s ease;
}

.content .intro span:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.content .buttons {
    margin-top: 15px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}
.content button {
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    background:  var(--primary-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    border: 3px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0,0.15);
}
#contact{
    border: 2px solid #aaa;
    background: #444;
    color: var(--primary-color);
}
#contact:hover{
    color: #222;
    background: #aaa;
}
.content button:hover{
    background: var(--secondary-color);
    color: #222;
    font-weight: bold;
}
main {
    top: 220px;
    margin: auto;
    margin-top: 200px;
    padding: 0px 30px;
    color: white;
    padding-bottom: 50px;
}   
main .main-one{
    margin-bottom: 100px;
}
main .main-one h2 {
    font-size: 21px;
    width: 120px;
    border-bottom: 3px solid #444;
    margin-bottom: 18px;
}
main .main-one h2::after 
{
    content: " ";
    position: absolute;
    display: block;
    width: 60px;
    border-bottom: 3px solid var(--secondary-color);
}
main .main-one .one {
    display: grid;
    grid-template-columns:50% 50%;
}
main .main-one .box  {
    display: flex;
    margin: 10px 5px;
    padding: 0px 5px;     
}
main .main-one .box i {
font-size: 32px;
padding: 15px;
padding-right: 20px;
color: var(--secondary-color);
}
main .main-one .box h3 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 12px;
}
main .main-one .box p {
    font-size: 14px;
    line-height: 22px;
    color: #ddd  ;
} 
main .main-two h2{
    margin-bottom: 30px;
}
.carousel-indicators button {
    border-radius: 0px !important;
}
.carousel-item {
    border-radius: 40px;
    background: #333;
    border: 2px solid #444
}
.carousel-item h5{
    font-weight: 900;
    margin: 0;
    color: white;
    padding: 0;
}

.carousel-item h6{
    font-size: 14px !important;
    color: #888;
    padding: 0;
    margin: 0;
}

.carousel-item p{
    font-size: 14px !important;
    color: #ddd;
    padding: 0;
    margin: 0;
}
.carousel-item img {
    border: none;
    visibility: hidden;
}
.carousel-caption img {
    visibility: visible;
    position: absolute;
    left: 50%;
    bottom: 80%;
    padding: 10px;
    object-fit: cover;
    transform: translateX(-50%);
    width:150px;
    height: 150px;
    border-radius: 50% !important;    
}
footer {
    position: absolute;
    bottom: 0;
    margin-top: 100px;
    width: 100%;
    left: 0;
    height: 50px;
    border-top: 2px solid #555;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.footer-contents {
    font-size: 14px;
    font-weight: 0;
    line-height: 45px;
}
.footer-contents .contents {
    width:35%;
}
.footer-contents .contents ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    list-style-type: none;
    color: #666;
}
.footer-contents a:hover {
    color: white;
}
.footer-contents .copyrights  {
    position: absolute;
    right: 50px;
    bottom: 50%;
    margin:0;
    line-height: 0;
    padding:0;
    color: #ddd;
}
.ham-burger {
    visibility: hidden;
}
@media(max-width: 900px){
    body{
        background: #222;
    }
    .container{
        width: 100%;
        margin: auto;
        padding: 0;
        overflow: hidden;
        border-radius: 0px;
    }
    .nav-bar {
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
    .nav-bar .nav-contents{
        margin: 0;
        padding:0;
        display: none;
        visibility: hidden;
    }
    header {
        margin: -30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-bar .side-logo .logo > div > p {
        margin-top: 5px;
        margin-left: 15px;
        padding: 5px;
    }
    .nav-bar .side-logo .logo  > p {
        margin-top: 5px;
        margin-left: 15px;
        font-size: 21px;
        width: 100%;
        padding: 5px;
    }
    .ham-burger {
        visibility: visible;
    }
    .image-bg {
        margin-top: -10px;
        padding: 0;
        margin-left: 0;
        transform: scale(0.85);
    }
    .image-bg .image {
        margin: 0;
        padding: 0;
        transform: scale(0.95);
    }
    .content{
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .content p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
    }
    .content h2 {
        font-size: 42px;
        margin: 0;
        padding: 0px 10px;
    }
    .content .intro {
        font-size: 14px;
        margin: 0;
        width: 60%;
        padding: 0px 10px;
    }
    .content .buttons {
        flex-direction:  column;
        justify-content: space-evenly;
        align-items: center;
    }
    .content button {
        margin-bottom: 10px;    
    }
    main .main-one .one {
        display: block
    }
    main .main-one .box {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
    padding: 0;
    }
    main .main-one .box p {
        font-size: 14px;
    }
    .carousel-caption{
        display: block !important;
        transform: scale(0.8);
    }
    footer {
        height: 80px;
    }
    .footer-contents .contents {
        width: 90%;
    }
    .footer-contents .contents ul {
        justify-content: space-around;
    }
    .footer-contents .copyrights {
        bottom: 20px;
        text-align: center;
        left: 50px;
        font-size: 12px;
    }
    
}