@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grey-300;
    @apply font-poppins;
    @apply container mx-auto px-5 lg:px-12;
    @apply box-border;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.woff2") format("woff2"),
      url("../public/fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-SemiBold.woff2") format("woff2"),
      url("../public/fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Medium.woff2") format("woff2"),
      url("../public/fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .box-shadow {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
  }
  .btn-shadow {
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  }
  .btn {
    @apply inline-block px-7 py-2 bg-grey-100 text-white-100 text-base rounded-3xl border-solid border-2 btn-shadow cursor-pointer;
  }
}
